@import "tailwindcss";
@theme {
    --color-strong-cyan: hsl(171, 66%, 44%);
    --color-light-blue: hsl(233, 100%, 69%);
    --color-dark-grayish-blue: hsl(210, 10%, 33%);
    --color-grayish-blue: hsl(233, 100%, 69%);
    --font-sans: "Bai Jamjuree", sans-serif;
    --background-header-desktop: url('/images/bg-header-desktop.png');
    --background-header-mobile: url('/images/bg-header-mobile.png');

    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 976px;
    --breakpoint-xl: 1440px;
}

@utility bg-header-desktop {
    background-image: url('/images/bg-header-desktop.png');
}

@utility bg-header-mobile {
    background-image: url('/images/bg-header-mobile.png');
}

@utility section-container {
    @apply max-w-6xl mx-auto text-center px-10;
}

@utility section-content {
    @apply max-w-3xl mx-auto  text-xl leading-9 text-center;
}

@utility button-container {
    @apply p-4 px-8 rounded-full shadow-lg  hover:opacity-80 duration-200;
}

@utility filter-greenish {
    filter: invert(53%) sepia(68%) saturate(434%) hue-rotate(121deg) brightness(101%) contrast(94%);
}

@layer base {
    h3 {
        @apply mb-8 text-4xl font-bold  md:text-5xl;
    }

    h5 {
        @apply mb-2 text-2xl font-bold;
    }
    p {
        @apply max-w-3xl mx-auto text-dark-grayish-blue;
    }
}

